.App {
  background: #222;
  color: #ddd;
  height: 100vh;
}

/* HEADER */
.App-header {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
}

.add-habit-button,
.add-habit {
  height: 60px;
  opacity: 0.5;
  border-radius: 100px;
  background: #ddd;
  transition: all 0.5s;
  color: #ddd;
}
.add-habit-button {
  width: 60px;
}

.add-habit {
  display: flex;
  align-items: center;
  width: 90%;
}

.add-habit-input {
  border-radius: 100px;
  margin: 0 3%;
}

.add-habit-input:active {
  opacity: 1;
  background: #ddd;
}

.add-habit-input {
  height: 25px;
}

.add-habit label {
  color: #222;
  margin-left: 5%;
  font-weight: bold;
}

.add-habit-close {
  border-radius: 100px;
  color: red;
  margin-right: 3%;
}

@media (min-width: 600px) {
  .add-habit {
    background: #222;
    color: #ddd;
    justify-content: flex-end;
  }
  .add-habit label {
    color: #ddd;
  }
}

/* habits display */
.habit-list {
  padding: 10% 5%;
  width: 100%;
}

.habit {
  text-align: center;
}

.habit-title {
  text-align: left;
  font-size: 1.25em;
}
.habit-title:nth-child(1) {
  color: #fc3;
}
.habit-title:nth-child(2) {
  color: #df4;
}

.habit-check {
  font-size: 1.25em;
  color: #666;
}
